Repository alessio1330/coder-EstebanAcevedo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-linter, ruff-format, djhtml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-linter
        name: Ruff Linter
        entry: ruff check --fix
        language: system
        types: [python]
        stages: [pre-commit]
      - id: ruff-format
        name: Ruff Format
        entry: ruff format
        language: system
        types: [python]
        stages: [pre-commit]
      - id: djhtml
        name: Django HTML
        entry: djhtml
        language: system
        types: [html]
        stages: [pre-commit]

feat(5): formulario sin método post
  src/producto/forms.py
  src/producto/templates/producto/categoria_form.html
  src/producto/templates/producto/index.html
  src/producto/urls.py
  src/producto/views.py
Due: ruff-linter, ruff-format, djhtml

feat(5): formulario Categoria
  src/db.sqlite3
  src/producto/templates/producto/categoria_form.html
  src/producto/views.py
Due: ruff-linter, ruff-format, djhtml

feat(5): validaciones en Categoria
  src/db.sqlite3
  src/producto/forms.py
Due: ruff-linter, ruff-format

docs(5): modelos y tipos de datos
  docs/6-modelos.md
Due: none

feat(5): nuevo campo en modelo Categoria
  src/db.sqlite3
  src/producto/forms.py
  src/producto/migrations/0002_alter_categoria_options_alter_categoria_nombre.py
  src/producto/migrations/0003_categoria_descripcion.py
  src/producto/models.py
Due: ruff-linter, ruff-format

feat(5): validar registros únicos distinguiendo tildes
  src/producto/models.py
Due: ruff-linter, ruff-format

style: se agrega tag button en templates
  src/core/templates/core/about.html
  src/core/templates/core/index.html
  src/producto/templates/producto/categoria_form.html
  src/producto/templates/producto/categoria_list.html
  src/producto/templates/producto/index.html
Due: djhtml

feat(5): verbose name en descripcion de Categoria
  src/producto/models.py
Due: ruff-linter, ruff-format

fix: links
  src/producto/templates/producto/categoria_form.html
Due: djhtml

feat(6): listview del modelo Categoria
  src/producto/templates/producto/categoria_list.html
  src/producto/templates/producto/index.html
  src/producto/views.py
Due: ruff-linter, ruff-format, djhtml

feat(6): createview del modelo Categoria
  src/producto/templates/producto/categoria_form.html
Due: djhtml

feat(6): updateview del modelo Categoria
  src/db.sqlite3
  src/producto/templates/producto/categoria_list.html
  src/producto/urls.py
  src/producto/views.py
Due: ruff-linter, ruff-format, djhtml

feat(6): detailview del modelo Categoria
  src/db.sqlite3
  src/producto/templates/producto/categoria_detail.html
  src/producto/templates/producto/categoria_form.html
  src/producto/templates/producto/categoria_list.html
  src/producto/urls.py
  src/producto/views.py
Due: ruff-linter, ruff-format, djhtml

feat(6): deleteview del modelo Categoria
  src/db.sqlite3
  src/producto/templates/producto/categoria_confirm_delete.html
  src/producto/templates/producto/categoria_list.html
  src/producto/urls.py
  src/producto/views.py
Due: ruff-linter, ruff-format, djhtml

feat(6): creado modelo Producto
  src/db.sqlite3
  src/producto/admin.py
  src/producto/migrations/0004_alter_categoria_descripcion_producto.py
  src/producto/models.py
Due: ruff-linter, ruff-format

feat(6): CRUD basado en clases
  src/core/templates/core/base.html
  src/db.sqlite3
  src/producto/forms.py
  src/producto/templates/producto/index.html
  src/producto/templates/producto/producto_confirm_delete.html
  src/producto/templates/producto/producto_detail.html
  src/producto/templates/producto/producto_form.html
  src/producto/templates/producto/producto_list.html
  src/producto/urls.py
  src/producto/views.py
  src/producto/views_models/__init__.py
  src/producto/views_models/categoria.py
  src/producto/views_models/producto.py
Due: ruff-linter, ruff-format, djhtml

fix: about
  src/core/templates/core/about.html
Due: djhtml

fix: modelo Categoria
  src/producto/models.py
Due: ruff-linter, ruff-format

fix: models & urls
  src/producto/models.py
  src/producto/urls.py
Due: ruff-linter, ruff-format

chore: line-length ruff
  ruff.toml
Due: none

chore: config ruff
  ruff.toml
Due: none

style: format
  src/producto/models.py
  src/producto/urls.py
  src/producto/views_models/producto.py
Due: ruff-linter, ruff-format

feat(7): busquedas en listviews
  src/producto/templates/producto/categoria_list.html
  src/producto/templates/producto/producto_list.html
  src/producto/views_models/categoria.py
  src/producto/views_models/producto.py
Due: ruff-linter, ruff-format, djhtml

feat(7): login
  src/core/forms.py
  src/core/templates/core/index.html
  src/core/templates/core/login.html
  src/core/urls.py
  src/core/views.py
  src/db.sqlite3
Due: ruff-linter, ruff-format, djhtml

feat(7): título para el template
  src/core/templates/core/login.html
Due: djhtml

feat(7): registro de usuarios
  src/core/forms.py
  src/core/templates/core/login.html
  src/core/templates/core/register.html
  src/core/urls.py
  src/core/views.py
  src/db.sqlite3
Due: ruff-linter, ruff-format, djhtml

feat(7): logout
  src/core/templates/core/index.html
  src/core/templates/core/logout.html
  src/core/urls.py
  src/db.sqlite3
Due: ruff-linter, ruff-format, djhtml

fix: texto en el html
  src/core/templates/core/login.html
Due: djhtml

feat(8): profile
  src/core/forms.py
  src/core/templates/core/index.html
  src/core/templates/core/profile.html
  src/core/urls.py
  src/core/views.py
  src/db.sqlite3
Due: ruff-linter, ruff-format, djhtml

feat(8): login required
  src/config/settings.py
  src/core/views.py
  src/db.sqlite3
  src/producto/views.py
Due: ruff-linter, ruff-format

feat(8): modelos Vendedor y Venta
  src/config/settings.py
  src/config/urls.py
  src/db.sqlite3
  src/media/imagenes_perfil/aconcagua.jpg
  src/producto/admin.py
  src/producto/migrations/0005_vendedor_venta.py
  src/producto/models.py
Due: ruff-linter, ruff-format

chore: agregado pillow
  pyproject.toml
  uv.lock
Due: none

feat(8): vistas para Vendedor y Venta
  src/db.sqlite3
  src/producto/forms.py
  src/producto/models.py
  src/producto/templates/producto/index.html
  src/producto/templates/producto/vendedor_confirm_delete.html
  src/producto/templates/producto/vendedor_detail.html
  src/producto/templates/producto/vendedor_form.html
  src/producto/templates/producto/vendedor_list.html
  src/producto/templates/producto/venta_detail.html
  src/producto/templates/producto/venta_form.html
  src/producto/templates/producto/venta_list.html
  src/producto/urls.py
  src/producto/views_models/vendedor.py
  src/producto/views_models/venta.py
Due: ruff-linter, ruff-format, djhtml

feat(8): vendedor y Venta a vistas basadas en clases
  src/producto/views_models/vendedor.py
  src/producto/views_models/venta.py
Due: ruff-linter, ruff-format

refactor(8): simplificar método get_queryset en ProductoListView
  src/producto/views_models/producto.py
Due: ruff-linter, ruff-format

feat(8): agregar validación de cantidad en VentaForm y no en models
  src/producto/forms.py
  src/producto/models.py
Due: ruff-linter, ruff-format

feat(8): reorganizar rutas de categorías, productos, vendedores y ventas en urls.py
  src/producto/urls.py
Due: ruff-linter, ruff-format

feat: aumentar la longitud máxima de línea a 100 en ruff.toml
  ruff.toml
Due: none

feat(8): actualizar stock de producto al crear y actualizar ventas
  src/producto/views_models/venta.py
Due: ruff-linter, ruff-format

fix(8): definición de urlpatterns en urls.py
  src/producto/urls.py
Due: ruff-linter, ruff-format
