Repository alessio1330/coder-EstebanAcevedo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-linter, ruff-format, djhtml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-linter
        name: Ruff Linter
        entry: ruff check --fix
        language: system
        types: [python]
        stages: [pre-commit]
      - id: ruff-format
        name: Ruff Format
        entry: ruff format
        language: system
        types: [python]
        stages: [pre-commit]
      - id: djhtml
        name: Django HTML
        entry: djhtml
        language: system
        types: [html]
        stages: [pre-commit]

feat(1): nuevo proyecto django
  pyproject.toml
  src/config/__init__.py
  src/config/asgi.py
  src/config/settings.py
  src/config/urls.py
  src/config/wsgi.py
  src/manage.py
  uv.lock
Due: ruff-linter, ruff-format

feat(1): primer template y uso de render
  src/config/urls.py
  src/core/templates/core/index.html
  src/core/views.py
Due: ruff-linter, ruff-format, djhtml

feat(1): parámetros desde URL
  src/config/urls.py
  src/core/views.py
Due: ruff-linter, ruff-format

feat(1): uso de contexto
  src/core/templates/core/index.html
  src/core/views.py
Due: ruff-linter, ruff-format, djhtml

docs: proyecto, flujo git, commits, django
  docs/1-proyectos-y-entornos.md
  docs/2-flujo-git.md
  docs/3-mensajes-commit.md
  docs/4-comandos-django.md
Due: none

feat(1): nueva app core
  src/config/settings.py
  src/core/__init__.py
  src/core/admin.py
  src/core/apps.py
  src/core/migrations/__init__.py
  src/core/models.py
  src/core/tests.py
  src/core/views.py
Due: ruff-linter, ruff-format

feat(1): respuesta simple
  src/config/urls.py
  src/core/views.py
  src/db.sqlite3
Due: ruff-linter, ruff-format

feat: readme
  README.md
Due: none

feat(2): nuevo template y datos por contexto
  src/config/urls.py
  src/core/templates/core/dados.html
  src/core/views.py
Due: ruff-linter, ruff-format, djhtml

feat(2): ejercicio 1
  src/config/urls.py
  src/core/templates/core/ejercicio-1.html
  src/core/views.py
Due: ruff-linter, ruff-format, djhtml

feat(2): bucles
  src/config/urls.py
  src/core/templates/core/notas.html
  src/core/views.py
Due: ruff-linter, ruff-format, djhtml

feat(2): condicionales
  src/core/templates/core/notas.html
Due: djhtml

feat(2): ejercicio 2
  src/config/urls.py
  src/core/templates/core/ejercicio-2.html
  src/core/views.py
Due: ruff-linter, ruff-format, djhtml

feat(2): navegación entre páginas
  src/core/templates/core/dados.html
  src/core/templates/core/ejercicio-1.html
  src/core/templates/core/ejercicio-2.html
  src/core/templates/core/index.html
  src/core/templates/core/notas.html
Due: djhtml

feat(2): nueva app cliente
  src/cliente/__init__.py
  src/cliente/admin.py
  src/cliente/apps.py
  src/cliente/migrations/__init__.py
  src/cliente/models.py
  src/cliente/tests.py
  src/cliente/views.py
  src/config/settings.py
Due: ruff-linter, ruff-format

feat(2): nuevo modelo en cliente
  src/cliente/migrations/0001_initial.py
  src/cliente/models.py
  src/cliente/templates/cliente/index.html
  src/cliente/views.py
  src/config/urls.py
  src/db.sqlite3
Due: ruff-linter, ruff-format, djhtml

fix(3): barra de urls
  src/config/urls.py
  src/core/templates/core/index.html
Due: ruff-linter, ruff-format, djhtml

chore: ipython
  pyproject.toml
  src/cliente/migrations/0002_pais_cliente_nacimiento_cliente_pais_origen.py
  src/cliente/models.py
  src/db.sqlite3
Due: ruff-linter, ruff-format

feat: mvt cliente, pais
  src/cliente/templates/cliente/cliente_list.html
  src/cliente/templates/cliente/index.html
  src/cliente/templates/cliente/pais_list.html
  src/cliente/views.py
  src/config/urls.py
  src/core/templates/core/index.html
  uv.lock
Due: ruff-linter, ruff-format, djhtml

feat(3): modelos Pais y Cliente en admin
  src/cliente/admin.py
Due: ruff-linter, ruff-format

docs: ORM de Django
  docs/5-ORM.md
Due: none

chore(ruff): exclude migrations
  ruff.toml
Due: none

feat: admin
  src/cliente/admin.py
  src/cliente/models.py
  src/config/settings.py
  src/db.sqlite3
Due: ruff-linter, ruff-format

feat(4): nuevo proyecto django
  src/cliente/__init__.py
  src/cliente/admin.py
  src/cliente/apps.py
  src/cliente/migrations/0001_initial.py
  src/cliente/migrations/0002_pais_cliente_nacimiento_cliente_pais_origen.py
  src/cliente/migrations/__init__.py
  src/cliente/models.py
  src/cliente/templates/cliente/cliente_list.html
  src/cliente/templates/cliente/index.html
  src/cliente/templates/cliente/pais_list.html
  src/cliente/tests.py
  src/cliente/views.py
  src/config/settings.py
  src/config/urls.py
  src/core/__init__.py
  src/core/admin.py
  src/core/apps.py
  src/core/migrations/__init__.py
  src/core/models.py
  src/core/templates/core/dados.html
  src/core/templates/core/ejercicio-1.html
  src/core/templates/core/ejercicio-2.html
  src/core/templates/core/index.html
  src/core/templates/core/notas.html
  src/core/tests.py
  src/core/views.py
  src/db.sqlite3
Due: ruff-linter, ruff-format, djhtml

chore(4): se agrega python-dotenv
  pyproject.toml
  uv.lock
Due: none

feat(4): protección de secretkey
  src/config/settings.py
  src/db.sqlite3
Due: ruff-linter, ruff-format

feat(4): nuevas apps core y producto
  src/config/settings.py
  src/core/__init__.py
  src/core/admin.py
  src/core/apps.py
  src/core/migrations/__init__.py
  src/core/models.py
  src/core/tests.py
  src/core/views.py
  src/producto/__init__.py
  src/producto/admin.py
  src/producto/apps.py
  src/producto/migrations/__init__.py
  src/producto/models.py
  src/producto/tests.py
  src/producto/views.py
Due: ruff-linter, ruff-format

chore(4): .env en gitignore
  .gitignore
Due: none

chore(4): saco .env en gitignore
  src/.env
Due: none

chore(4): saco .env en gitignore
  .gitignore
Due: none

feat(4): templates index en cada app
  src/core/templates/core/index.html
  src/producto/templates/producto/index.html
Due: djhtml

feat(4): enrutamiento de apps
  src/config/urls.py
  src/core/urls.py
  src/core/views.py
  src/producto/urls.py
  src/producto/views.py
Due: ruff-linter, ruff-format

feat(4): navegación entre apps
  src/core/templates/core/index.html
  src/producto/templates/producto/index.html
Due: djhtml

feat(4): template about
  src/core/templates/core/about.html
  src/core/templates/core/index.html
  src/core/urls.py
  src/core/views.py
Due: ruff-linter, ruff-format, djhtml

feat(4): archivos estáticos
  src/core/static/core/img/cajapandora.webp
  src/core/static/core/img/perfil.png
  src/core/templates/core/about.html
  src/core/templates/core/index.html
Due: djhtml

feat(4): modelo Categoria en producto
  src/db.sqlite3
  src/producto/admin.py
  src/producto/migrations/0001_initial.py
  src/producto/models.py
Due: ruff-linter, ruff-format

feat(4): registros creados
  src/db.sqlite3
Due: none

feat(4): vista para categoria de productos
  src/producto/templates/producto/categoria_list.html
  src/producto/templates/producto/index.html
  src/producto/urls.py
  src/producto/views.py
Due: ruff-linter, ruff-format, djhtml

feat(5): base.html para ser extendido
  src/core/templates/core/base.html
Due: djhtml

feat(5): herencia de plantillas
  src/core/templates/core/about.html
  src/core/templates/core/index.html
  src/producto/templates/producto/categoria_list.html
  src/producto/templates/producto/index.html
Due: djhtml
