Repository alessio1330/coder-EstebanAcevedo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-linter, ruff-format, djhtml

ruff-linter:
  name: Ruff Linter
  entry: ruff check --fix
  language: system
  stages:
  - pre-commit

ruff-format:
  name: Ruff Format
  entry: ruff format
  language: system
  stages:
  - pre-commit

djhtml:
  name: Django HTML
  entry: djhtml
  language: system
  stages:
  - pre-commit

feat: mejorar la representación de Producto para incluir el stock
  src/producto/models.py
Due: ruff-linter, ruff-format

style: importaciones en views_models de Producto
  src/producto/views_models/producto.py
Due: ruff-linter, ruff-format

refactor: simplificar formularios de venta y eliminar opciones de edición y eliminación
  src/producto/templates/producto/venta_form.html
  src/producto/templates/producto/venta_list.html
  src/producto/urls.py
Due: ruff-linter, ruff-format, djhtml

feat: agregar lógica para asignar vendedor y calcular precio total en ventas
  src/producto/views_models/venta.py
Due: ruff-linter, ruff-format

feat: agregar campo vendedor en el formulario de venta con valor inicial basado en el usuario
  src/producto/forms.py
Due: ruff-linter, ruff-format

refactor: eliminar vistas de actualización y eliminación de ventas
  src/producto/views_models/venta.py
Due: ruff-linter, ruff-format

style: ajustar formato de la ruta de cierre de sesión en urls.py
  src/core/urls.py
Due: ruff-linter, ruff-format

feat: agregar plantilla de inicio y scripts de JavaScript para la funcionalidad del sitio
  src/core/static/core/assets/favicon.ico
  src/core/static/core/css/styles.css
  src/core/static/core/js/scripts.js
  src/core/templates/core/index-temp.html
  src/core/templates/core/index.html
  src/producto/templates/producto/vendedor_list.html
Due: djhtml

feat: agregar nuevas plantillas y componentes para la estructura del sitio
  src/core/templates/core/about.html
  src/core/templates/core/base-tmp.html
  src/core/templates/core/base.html
  src/core/templates/core/componentes/card.html
  src/core/templates/core/componentes/footer.html
  src/core/templates/core/componentes/navbar.html
  src/core/templates/core/index-temp.html
  src/core/templates/core/index.html
  src/core/templates/core/login.html
  src/db.sqlite3
  src/producto/templates/producto/producto_list.html
Due: djhtml

feat(9): clases bootstrap
  src/core/templates/core/about.html
  src/core/templates/core/index.html
  src/core/templates/core/login.html
  src/core/templates/core/logout.html
  src/core/templates/core/profile.html
  src/core/templates/core/register.html
  src/db.sqlite3
  src/producto/templates/producto/producto_list.html
Due: djhtml

feat: actualizar configuración de Django para producción y agregar soporte para entorno de desarrollo
  src/config/settings.py
  src/config/settings_dev.py
Due: ruff-linter, ruff-format

feat: agregar django-widget-tweaks a las dependencias y configuraciones del proyecto
  pyproject.toml
  src/config/settings.py
  uv.lock
Due: ruff-linter, ruff-format

feat: limpiar y reorganizar plantillas HTML, eliminar base-tmp.html y mejorar la estructura de navegación
  src/core/templates/core/about.html
  src/core/templates/core/base-tmp.html
  src/core/templates/core/base.html
  src/core/templates/core/componentes/navbar.html
  src/core/templates/core/index.html
  src/core/templates/core/login.html
  src/core/templates/core/logout.html
  src/core/templates/core/profile.html
  src/core/templates/core/register.html
Due: djhtml

feat: mejorar la interfaz de usuario en las plantillas de confirmación y detalle de productos, categorías y ventas
  src/producto/templates/producto/categoria_confirm_delete.html
  src/producto/templates/producto/categoria_detail.html
  src/producto/templates/producto/categoria_form.html
  src/producto/templates/producto/categoria_list.html
  src/producto/templates/producto/index.html
  src/producto/templates/producto/producto_confirm_delete.html
  src/producto/templates/producto/producto_detail.html
  src/producto/templates/producto/producto_form.html
  src/producto/templates/producto/producto_list.html
  src/producto/templates/producto/vendedor_confirm_delete.html
  src/producto/templates/producto/vendedor_detail.html
  src/producto/templates/producto/vendedor_form.html
  src/producto/templates/producto/vendedor_list.html
  src/producto/templates/producto/venta_detail.html
  src/producto/templates/producto/venta_form.html
  src/producto/templates/producto/venta_list.html
Due: djhtml

feat: imagen de fondo y cambios en la base
  src/db.sqlite3
  src/media/imagenes_perfil/fondo_linkedin.jpeg
Due: none

feat: agregar mensajes de alerta en la plantilla base y eliminar mensajes de alerta en la página de inicio de sesión
  src/core/templates/core/base.html
  src/core/templates/core/index.html
  src/core/templates/core/login.html
  src/db.sqlite3
Due: djhtml

feat: agregar mensajes de éxito en la creación, actualización y eliminación de categorías, productos, vendedores y ventas
  src/core/templates/core/base.html
  src/producto/views_models/categoria.py
  src/producto/views_models/producto.py
  src/producto/views_models/vendedor.py
  src/producto/views_models/venta.py
Due: ruff-linter, ruff-format, djhtml

feat: agregar botón de cierre a los mensajes de alerta en la plantilla base
  src/core/templates/core/base.html
Due: djhtml

Importando archivos necesarios para el proyecto
  hello.py
  src/db.sqlite3
Due: ruff-linter, ruff-format

Modificación de página web y quitado de archivos de documentación
  docs/1-proyectos-y-entornos.md
  docs/2-flujo-git.md
  docs/3-mensajes-commit.md
  docs/4-comandos-django.md
  docs/5-ORM.md
  docs/6-modelos.md
  src/core/static/core/img/allbrands.webp
  src/core/templates/core/about.html
  src/core/templates/core/base.html
  src/core/templates/core/componentes/card.html
  src/core/templates/core/componentes/navbar.html
  src/core/templates/core/index.html
  src/core/views.py
  src/db.sqlite3
  src/producto/templates/producto/lista_productos.html
  src/producto/urls.py
Due: ruff-linter, ruff-format, djhtml

README actualizado
  README.md
Due: none

Modificacion de readme añandiendo video de presentacion
  src/db.sqlite3
Due: none

Modificacion de README
  README.md
  src/media/imagenes_perfil/zidanenavidad.png
Due: none

Path conditions:
  ruff-linter: any of: \.py$
  ruff-format: any of: \.py$
  djhtml: any of: \.(html|htm|xhtml)$
